# Ignore datasets, intermediate files, and environment files
Dataset/
*.pkl
!artifacts/*.pkl
.env

# Ignore model-related artifacts

models/

# Ignore IDE configuration
.vscode/

# Ignore lock files
requirements.txt
mlruns/
__pycache__/
